<div id="crudMenu" style="margin-top: 56px; background-color: #6BCBCB;">
    <h1 class="text-white text-center">Menu</h1>
    <a [routerLink] = "['/formulaire']" class="btn btn-success" style="margin-bottom: 10px;margin-left: 13%;">Demander une nouvelle glace</a>   
    <table class="table table-bordered bg-info text-white container">
        <thead class="thead-dark"></thead>
        <tr class="text-center">
            <th *ngFor="let entete of headElements" scope="col">{{entete}}</th>
            <th>Options</th>
        </tr>
        <tr class="text-center" *ngFor="let glace of listMenu">
            <td>{{glace.id}}</td>
            <td>{{glace.nom}}</td>
            <td>{{glace.prix}}$</td>
            <td>{{glace.description}}</td>
            <td>{{glace.ingredients}}</td>
            <td>{{glace.saveur}}</td>
            <td>{{glace.type}}</td>
            <td>
                <a style="margin :10px;" [routerLink] = "['/afficher', glace.id]" class="btn btn-warning">Afficher</a>
                <a style="margin-right:10px;" [routerLink] = "['/update', glace.id]" class="btn btn-primary">Modifier</a>
                <button type="button" (click) = "delete(glace.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
  
</div>