<!-- Footer -->
<footer class="page-footer font-small bg-info text-white" >

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright
        <p class="text-white">Made by Kevin Lee</p>
        <!-- Facebook -->
        <a class="fb-ic" href="">
            <i class="fab fa-facebook-f fa-lg text-light mr-4"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic" href="">
            <i class="fab fa-twitter fa-lg text-light mr-4"> </i>
        </a>
        <!-- Google +-->
        <a class="gplus-ic" href="">
            <i class="fab fa-google-plus-g fa-lg text-light mr-4"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic" href="">
            <i class="fab fa-linkedin-in fa-lg text-light mr-4"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic" href="">
            <i class="fab fa-instagram fa-lg text-light mr-4"> </i>
        </a>
        <!--Pinterest-->
        <a class="pin-ic" href="">
            <i class="fab fa-pinterest fa-lg text-light"> </i>
        </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->