<div class="text-white " style="margin-top: 56px;background-color: #6BCBCB;">
    <h2 class="text-center">Affichage de la glace</h2>
    <form [formGroup]="afficheForm" class="container" (ngSubmit)="affichage()">

      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="nom" id="nom" formControlName="nom" class="form-control" [(ngModel)]="menu.nom" readonly/>
      </div>
  
      <div class="form-group">
        <label for="prix">Prix</label>
        <input type="number" id="prix" formControlName="prix" class="form-control" [(ngModel)]="menu.prix" readonly/>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control" rows="3" [(ngModel)]="menu.description" readonly></textarea>
      </div>
  
      <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <textarea id="ingredients" formControlName="ingredients" class="form-control" rows="3" [(ngModel)]="menu.ingredients" readonly></textarea>
      </div>
  
      <div class="form-group" readonly>
        <label for="saveur">Saveur de la glace</label>
        <select id="saveur" formControlName="saveur" class="form-control" [(ngModel)]="menu.saveur" name="saveur" disabled>
          <option value="Oreo" selected>Oreo</option>
          <option value="Chocolat">Chocolat</option>
          <option value="Vanille">Vanille</option>
          <option value="Orange">Orange</option>
          <option value="Caramel">Caramel</option>
          <option value="Pate a biscuit">Pate a biscuit</option>
          <option value="Menthe">Menthe</option>
          <option value="Amandes">Amandes</option>
          <option value="Citron">Citron</option>
          <option value="Melon">Melon</option>
          <option value="Raisin">Raisin</option>
          <option value="Cerise">Cerise</option>
          <option value="Banane">Banane</option>
          <option value="Barbe a papa">Barbe a papa</option>
          <option value="Pamplemousse">Pamplemousse</option>
        </select>
      </div>

      <div class="form-group" >
        <p>Type</p>
        <input type="radio" id="Glace" name="type" value="Glace" formControlName="type" [(ngModel)]="menu.type" disabled>
        <label for="Glace">&nbsp;Glace</label><br>
        <input type="radio" id="Sandwich" name="type" value="Sandwich" formControlName="type" [(ngModel)]="menu.type" disabled>
        <label for="Sandwich">&nbsp;Sandwich</label><br>
        <input type="radio" id="Tourbillon" name="type" value="Tourbillon" formControlName="type" [(ngModel)]="menu.type" disabled>
        <label for="Tourbillon">&nbsp;Tourbillon</label>
      </div>
  
      <button class="btn btn-danger text-white" style="margin-bottom: 20px;">Retour</button>
  
    </form>
  </div>